
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="overflow">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 200px;">First</th>
              <th style="min-width: 100px;">Middle</th>
              <th style="width: 300px;">Last</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="number" class="form-control" (keyup.enter)="getNumber()" [formControl]="number">
              </td>
              <td>
                <select class="form-control" (change)="selectCal($event.target)">
                  <option value="isPrime">isPrime</option>
                  <option value="isFibonacci">isFibonacci</option>
                </select>
              </td>
              <td>{{isCalculate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
