
<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-primary mr-3" routerLink="/q1">Question 1</button>
      <button class="btn btn-primary" routerLink="/q2">Question 2</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
