<div class="container">
  <div class="row">
    <div class="col-12">
      <input type="text" class="form-control" placeholder="search categories" (input)="searchText($event.target)">
    </div>
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Categories</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of categories; let i = index">
            <td>{{i+1}}</td>
            <td>{{cat}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
